body{
  margin: 0;
}

.box{
  width: inherit;
  height: inherit;
  display:flex;
  
  
}


.contain{
  width:100%;
  height:600px;
  background:url("img/left-black.jpeg");
  background-size:cover; 
  
  display:flex;
}

.outside{
  height:100%;
  width:100%;
  margin:auto;
  overflow:hidden
  ;display:flex;
  flex: 1;
}

.in{
  width:100%;
  background:rgba(156, 156, 156, 0.089);
  margin: 1px;
}